<div class="container">
  <% if notice.present? %>
    <p class="notification notice"><%= notice %></p>
  <% end %>

  <h1 class="page-title">Recipes</h1>

  <div class="recipes-list" id="recipes">
    <% if @recipes.any? %>
      <% @recipes.each do |recipe| %>
        <%= render recipe %>
      <% end %>
    <% else %>
      <p class="no-recipes">No recipes found.</p>
    <% end %>
  </div>

  <div class="new-recipe-link">
    <%= link_to "New recipe", new_recipe_path, class: "new-recipe-button" %>
  </div>
</div>
