<div class="page_container add_item">
  <h1 class="page_title">Add New Recipe</h1>
  <%= render "form", recipe: @recipe %>
  <%= link_to 'Back to Recipes', recipes_path, class: "btn btn-white back_button" %>
</div>
