<div class="welcome-container">
  <div class="welcome-content">
    <h1 class="welcome-heading">Welcome to RecipeApp</h1>
    <p class="welcome-text">Discover a World of Delicious Recipes</p>
    <a href="<%= recipes_path %>" class="btn btn-success explore-button">Explore Recipes</a>
  </div>
</div>
