<div class="page_container add_item">
  <h1 class="page_title">Add New Food</h1>
  <%= render "form", food: @food %>
  <%= link_to 'Back to Foods', foods_path, class: "btn btn-white back_button" %>
</div>
