@font-face {
  font-family: "PTSansNarrow";
  src: url('/app/assets/fonts/PTSansNarrow.ttf');
}

.body {
  font-family: "PTSansNarrow", sans-serif;
}

.notice {
  color: rgb(201, 69, 69);
}

.back_button {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.back_button:hover {
  cursor: pointer;
  scale: 1.05;
  text-decoration: underline;
}