.navbar {
  background-color: #006400;
  color: #fff;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  margin: 0 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
