<nav class="navbar">
  <ul>
    <li><%= link_to "General Shopping List", generate_shopping_list_recipe_path(4), method: :get %></li>
    <li><%= link_to "Add Recipe", new_recipe_path %></li>
    <li><%= link_to "Add Food", new_food_path %></li>
  </ul>
</nav>
